<h1>Listing maps</h1>

<div class="buttonlink">
  <%= link_to 'New Map', new_map_path %>
</div>

<% @maps.each do |map| %>
  <div id="map_<%= map.id %>" class="mapdetails">
    <h3><%= link_to map.title, map %></h3>
    <div class="details">
      <span>
        <%= render map.map_renders.first if map.map_renders.first %>
      </span>
      <span class="hovershow">
        Paper: <%= map.paper_size %></span>
        <%= link_to 'Show', map %> |
        <%= link_to 'Edit', edit_map_path(map) %> |
        <%= link_to 'Destroy', map, :confirm => 'Are you sure?', :method => :delete %>
      </span>
    </div>
  </div>
<% end %>
