<p id="notice"><%= notice %></p>

<h1><%= @map.title %></h1>

<h2>Downloads</h2>
<%= button_to('Regenerate this map', map_map_renders_path(@map, :method => :post)) %>
<ul>
<% @map.map_renders.each do |map_render| %>
  <li>
  <% if map_render.complete %>
    <%= link_to map_render.created_at, map_render.pdf_url %>
  <% elsif map_render.started %>
    <%= map_render.created_at %> - Render in progress ...
  <% else %>
    <%= map_render.created_at %> - Awaiting render ...
  <% end %>
  </li>
<% end %>
</ul>

<%= render :partial => 'map', :object => @map %>

<p>
  <b>Paper size:</b>
  <%= @map.paper_size %>
  <b>Orientation:</b>
  <%= @map.orientation %>
  <b>Include index:</b>
  <%= @map.include_index %>
</p>

<p>
  <b>Geographic area:</b>
  <%= @map.bounds %>
</p>

<p>
  <b>Categories:</b>
  <%= @map.categories.map(&:title).to_sentence %>
</p>

<%= link_to 'Edit', edit_map_path(@map) %> |
<%= link_to 'Back', maps_path %>
